
<div class="metamask-button-holder" *ngIf="!metaMaskAuth">
  <button class="metamask-button" (click)="connectMetaMask()">
    <img src="./assets/img/metamask.png">
    Auth your MetaMask
  </button>
  <div class="metamask-error" [ngClass]="{active: !!metaMaskError}"
       [innerHTML]="metaMaskError + '&nbsp;'"></div>
</div>


<div class="page-wrapper" *ngIf="metaMaskAuth">
  <div class="user-address">
    <img src="./assets/img/metamask.png">
    {{userAddress}}
    <sup class="metamask-network" [ngClass]="'metamask-network__' + network">{{network}}</sup>
    <div class="user-balances" *ngIf="balances && coinsDecimals">
      <span *ngFor="let balance of balances">
        <img class="user-balances_icon" [src]="coinsIcons[balance.key]">
        {{ balance.value | bigNumberFormat : coinsDecimals[balance.key] : true : false : 4}} {{balance.key}}
      </span>
    </div>
  </div>


  <div class="chapter-title">Transform HEX to hex money (HXY)</div>


  <div class="forms-header" *ngIf="currentRound">
    <span class="forms-header_round">Round {{currentRound}}: </span>
    <span class="forms-header_prices">
      <span class="forms-header_prices_curr">1 HXY =</span>
      <span class="forms-header_prices_item" *ngFor="let price of prices">
        {{price.rate | number : '.0-5'}} {{price.coin}}
      </span>
    </span>
  </div>


  <form class="calculate-controls calculate-controls__1 no-flex"
        *ngIf="coinsDecimals && amountLimits && rates"
        #sendForm="ngForm" name="credit-form" [ngClass]="{disabled: form1Progress}">

    <div class="flex-block left-align">
      <div class="calculate-controls_element calculate-controls_label">
        Send
      </div>

      <div class="calculate-controls_element calculate-controls_checkboxes">
        <div class="calculate-controls_checkboxes_group">
          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   name="token-type" value="HEX"
                   [(ngModel)]="formData.send.coin" (change)="changeCoin()">
            <span class="checkbox-decor_content">
            <span class="checkbox-decor_content_img">
              <img src="./assets/img/hex-logo.png">
            </span>
            <span class="checkbox-decor_content_text">HEX</span>
          </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   name="token-type" value="ETH"
                   [(ngModel)]="formData.send.coin" (change)="changeCoin()">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/eth-logo.png">
              </span>
              <span class="checkbox-decor_content_text">ETH</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   [(ngModel)]="formData.send.coin"
                   name="token-type" value="USDC" (change)="changeCoin()">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/usdc-logo.svg">
              </span>
              <span class="checkbox-decor_content_text">USDC</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

        </div>
      </div>

      <div class="calculate-controls_element calculate-controls_textfield">


        <input type="text" class="calculate-controls_input" name="amount"
               [required]="true"
               placeholder="Enter amount"
               [appBigNumber]="{
                  decimals: coinsDecimals[formData.send.coin],
                  min: amountLimits[formData.send.coin].min,
                  max: amountLimits[formData.send.coin].max
               }"
               [minValueChange]="onChangeCoinEmitter"
               [(ngModel)]="formData.send.amount">
      </div>

      <div class="calculate-controls_element calculate-controls_label">
        <small>Receive</small>
        {{ hxyAmount | number : '.0-4' }} HXY
      </div>

      <div class="calculate-controls_element calculate-controls_btn">

        <button type="submit" class="calculate-controls_button"
                [ngClass]="{'in-progress': form1Progress}"
                [disabled]="!sendForm.valid || form1Progress"
                (click)="exchangeAmount()">
          <span class="lds-ellipsis" *ngIf="form1Progress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Transform</span>
        </button>
      </div>
    </div><br/>

    {{ sendForm.value['referral-address'] }}
    <div class="flex-block">
      <div class="calculate-controls_element calculate-controls_label">
        <small>Enter Referral address if any</small>
      </div>
      <div class="calculate-controls_element calculate-controls_textfield">
        <input type="text"
               #referralAddress
               class="calculate-controls_input calculate-controls_input__address"
               [(ngModel)]="formData.send.referralAddress"
               [ngModelOptions]="{standalone: true}"
               placeholder="0x0000000000000000000000000000000000000000"
               pattern="0x[a-fA-F0-9]{40}">
      </div>

      <div class="calculate-controls_element calculate-controls_btn">
        <button type="submit" class="calculate-controls_button auto-width"
                [ngClass]="{'in-progress': form1Progress}"
                [disabled]="!sendForm.valid || form1Progress || !referralAddress.value || !referralAddress.checkValidity()"
                (click)="exchangeAmount(true)">
          <span class="lds-ellipsis" *ngIf="form1Progress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Transform with Referral</span>
        </button>
      </div>
    </div>
  </form>


  <form class="calculate-controls calculate-controls__2 with-bottom-label no-flex"
        *ngIf="coinsDecimals && balances"
        #wantForm="ngForm" name="want-form" [ngClass]="{disabled: form2Progress}">

    <div class="warning-message">
      Please Claim daily dividends (if any) before any action with freezing (Freeze, Unfreeze, Capitalize).<br/>
      After any action you will not be able to get dividends today.
    </div>

    <div class="flex-block left-align">
      <div class="calculate-controls_element calculate-controls_label">
        Freeze
      </div>

      <div class="calculate-controls_element calculate-controls_textfield calculate-controls_label calculate-controls_label__bottom">
        <input type="text" class="calculate-controls_input" name="amount"
               placeholder="Enter amount"
               required="true"
               [appBigNumber]="{
                  decimals: coinsDecimals['HXY'],
                  min: 1,
                  max: HXYBalance
               }"
               [(ngModel)]="formData.want.amount">HXY
        <small (click)="formData.want.amount = toDecimals(HXYBalance, coinsDecimals['HXY'])" class="as-link">
          Available: {{HXYBalance | bigNumberFormat : coinsDecimals['HXY'] : true}} HXY
        </small>
      </div>

      <div class="calculate-controls_element calculate-controls_btn">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="calculate-controls_button"
                [ngClass]="{'in-progress': form2Progress}"
                [disabled]="!wantForm.valid || form2Progress"
                (click)="freezeHXY()">
          <span class="lds-ellipsis" *ngIf="form2Progress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Freeze</span>
        </button>
      </div>
    </div>
  </form>

  <div class="calculate-controls calculate-controls__4" *ngIf="coinsDecimals && freezings && freezings.length">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="interest-table">
    <thead>
    <tr>
      <th>Frozen</th>
      <th>Amount</th>
      <th>Interest</th>
      <th>&nbsp;</th>
      <th>
        Status
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let freezing of freezings">
      <td></td>
      <td>
        {{freezing.freezeAmount | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY
      </td>
      <td>
        {{freezing.interest | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY
      </td>
      <td>
        <button type="submit" class="calculate-controls_button"
                *ngIf="freezing.forCapEndDateTime <= now"
                [ngClass]="{'in-progress': freezing.inProgressRefreeze}"
                [disabled]="freezing.inProgressRefreeze || freezing.inProgress"
                (click)="refreezeHxy(freezing)">
          <span class="lds-ellipsis" *ngIf="freezing.inProgressRefreeze">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Capitalize</span>
        </button>
      </td>
      <td class="unfreeze-cell" *ngIf="freezing.endDateTime > now">
        <span>{{freezing.endDateTime | date : 'yyyy.MM.dd HH:mm'}}</span>
      </td>
      <td *ngIf="freezing.endDateTime <= now">
        <button type="submit" class="calculate-controls_button"
                [ngClass]="{'in-progress': freezing.inProgress}"
                [disabled]="freezing.inProgressRefreeze || freezing.inProgress"
                (click)="unFreeze(freezing)">
          <span class="lds-ellipsis" *ngIf="freezing.inProgress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Unfreeze</span>
        </button>
      </td>
    </tr>
    </tbody>
</table>
  </div>

  <div class="calculate-controls calculate-controls__3 no-flex"
       [ngClass]="{disabled: form3Progress}">
    <div class="calculate-controls_element calculate-controls_label block-label">
      Dividends
    </div>
    <div class="flex-block left-align">

      <div class="calculate-controls_element calculate-controls_label"
           *ngIf="expiredIn?.requireRequest">
        <small>Dividends will be calculated after the first Claim</small>
      </div>

      <div class="calculate-controls_element calculate-controls_label"
           *ngIf="!expiredIn?.requireRequest && isActiveClaim">
        <small>Your daily dividends were paid</small>
      </div>

      <div class="calculate-controls_element calculate-controls_label"
           *ngIf="!expiredIn?.requireRequest && !isActiveClaim && ((freezings && !freezings.length) || (dividends === null) || todayFreezed)">
        <small>No dividends for today</small>
      </div>


      <div class="calculate-controls_element calculate-controls_label no-padding"
           *ngIf="dividends && coinsDecimals && !expiredIn?.requireRequest && !isActiveClaim && !(freezings && !freezings.length) && !todayFreezed">
        <div class="divided-coins">
          <span *ngFor="let dividend of dividends;" class="divided-coins_item">
            <img class="divided-coins_item_icon" [src]="coinsIcons[dividend.coin]">
            <span class="divided-coins_item_value">
              {{ dividend.value | bigNumberFormat : coinsDecimals[dividend.coin] : true : false : 4 }}
              {{dividend.coin}}
            </span>
          </span>
        </div>
      </div>

      <div class="calculate-controls_element calculate-controls_btn" *ngIf="expiredIn">
        <button type="submit" class="calculate-controls_button"
                [ngClass]="{'in-progress': form3Progress}"
                [disabled]="form3Progress || isActiveClaim || (freezings && !freezings.length) || todayFreezed"
                (click)="claimDividends()">
        <span class="lds-ellipsis" *ngIf="form3Progress">
          <span class="lds-ellipsis-container">
            <span></span><span></span><span></span><span></span>
          </span>
        </span>
          <span>Claim</span>
        </button>
      </div>
      <div class="calculate-controls_element calculate-controls_label calculate-controls_label__small">
        <span *ngIf="!isActiveClaim">Expire in</span>
        <span *ngIf="isActiveClaim">Active in</span>
        {{expireTimes.hours | number : '2.'}}:{{expireTimes.minutes | number : '2.'}}:{{expireTimes.seconds | number : '2.'}}
      </div>
    </div>
  </div>


  <table class="dividends-info-table" *ngIf="dividendsState && coinsDecimals">
    <thead>
    <tr>
      <th>Dividends</th>
      <th *ngFor="let coinVal of dividendsState.todayDividendsTotal">{{coinVal.coin}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="dividends-info-table_title-row">Collected now</td>
      <td class="dividends-info-table_val" *ngFor="let coinVal of dividendsState.todayDividendsTotal">
        {{ coinVal.value | bigNumberFormat : coinsDecimals[coinVal.coin] : true : false : 4 }}
      </td>
    </tr>
    <tr>
      <td class="dividends-info-table_title-row">Total Yesterday</td>
      <td class="dividends-info-table_val"
          [ngClass]="{
            'dividends-info-table_val__up': coinVal.profit > 0,
            'dividends-info-table_val__down': coinVal.profit < 0
          }"
          *ngFor="let coinVal of dividendsState.previousDividendsTotal">
        {{ coinVal.value | bigNumberFormat : coinsDecimals[coinVal.coin] : true : false : 4 }}
        <span class="dividends-info-table_val__percent">{{coinVal.profit | number : '.0-2'}}%</span>
      </td>
    </tr>
    <!-- tr>
      <td class="dividends-info-table_title-row">С чем сравниваю</td>
      <td class="dividends-info-table_val"
          *ngFor="let coinVal of dividendsState.beforePreviousDividendsTotal">
        {{ coinVal.value | bigNumberFormat : coinsDecimals[coinVal.coin] : true : false : 4 }}
      </td>
    </tr -->
    <tr>
      <td class="dividends-info-table_title-row">Distributed Yesterday</td>
      <td class="dividends-info-table_val"
          *ngFor="let coinVal of dividendsState.claimedDividendsTotal">
        {{ coinVal.value | bigNumberFormat : coinsDecimals[coinVal.coin] : true : false : 4 }}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="tables-group" *ngIf="totalInfo && coinsDecimals">

    <div class="dividends-info-table_title">Contract</div>
    <table class="dividends-info-table width-50">
      <tbody>
      <tr>
        <td class="dividends-info-table_title-row">Max supply</td>
        <td class="dividends-info-table_val">{{ totalInfo.maxSupply | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY</td>
      </tr>
      <tr>
        <td class="dividends-info-table_title-row">Locked</td>
        <td class="dividends-info-table_val">{{ totalInfo.locked | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY</td>
      </tr>
      <tr>
        <td class="dividends-info-table_title-row">Total supply</td>
        <td class="dividends-info-table_val">{{ totalInfo.totalSupply | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY</td>
      </tr>
      </tbody>
    </table>

    <table class="dividends-info-table width-50">
      <tbody>
      <tr>
        <td class="dividends-info-table_title-row">Frozen</td>
        <td class="dividends-info-table_val">{{ totalInfo.frozen | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY</td>
      </tr>
      <tr>
        <td class="dividends-info-table_title-row">Circulating</td>
        <td class="dividends-info-table_val">{{ totalInfo.circulating | bigNumberFormat : coinsDecimals.HXY : true : false : 4 }} HXY</td>
      </tr>
      </tbody>
    </table>

  </div>

  <br/>
  <div class="forms-header">
    <span class="forms-header_round">Send funds to Dividends contract</span>
  </div>


  <form class="calculate-controls calculate-controls__1 no-flex" #depositDividendsForm="ngForm"
        *ngIf="coinsDecimals">

    <div class="flex-block left-align">
      <div class="calculate-controls_element calculate-controls_label">Send</div>

      <div class="calculate-controls_element calculate-controls_checkboxes">
        <div class="calculate-controls_checkboxes_group">
          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   (change)="changeDividendsCoin()"
                   [(ngModel)]="formData.fundsToDividends.coin"
                   name="token-type" value="HEX">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/hex-logo.png">
              </span>
              <span class="checkbox-decor_content_text">HEX</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   (change)="changeDividendsCoin()"
                   [(ngModel)]="formData.fundsToDividends.coin"
                   name="token-type" value="ETH">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/eth-logo.png">
              </span>
              <span class="checkbox-decor_content_text">ETH</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   (change)="changeDividendsCoin()"
                   [(ngModel)]="formData.fundsToDividends.coin"
                   name="token-type" value="USDC">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/usdc-logo.svg">
              </span>
              <span class="checkbox-decor_content_text">USDC</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>

          <label class="checkbox-decor">
            <input type="radio" class="checkbox-decor_input"
                   required
                   [(ngModel)]="formData.fundsToDividends.coin"
                   name="token-type" value="HXY">
            <span class="checkbox-decor_content">
              <span class="checkbox-decor_content_img">
                <img src="./assets/img/hxy-logo.png">
              </span>
              <span class="checkbox-decor_content_text">HXY</span>
            </span>
            <span class="checkbox-decor_outside"></span>
            <span class="checkbox-decor_checker"></span>
          </label>
        </div>
      </div>


      <div class="calculate-controls_element calculate-controls_textfield">
        <input type="text" class="calculate-controls_input" name="amount"
               required
               [appBigNumber]="{
                  decimals: coinsDecimals[formData.fundsToDividends.coin],
                  min: 0
               }"
               [decimalsChange]="onChangeDividendsCoinEmitter"
               [(ngModel)]="formData.fundsToDividends.amount"
               placeholder="Enter amount">
      </div>

      <div class="calculate-controls_element calculate-controls_btn">
        <button type="submit" class="calculate-controls_button"
                (click)="recordDividends()"
                [disabled]="!depositDividendsForm.valid || dividendsFundsFormProgress">
          <span class="lds-ellipsis" *ngIf="dividendsFundsFormProgress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <span>Send</span>
        </button>
      </div>
    </div>
  </form>

</div>



